<section class="spotlight style1 orient-right content-align-justify image-position-center onscroll-image-fade-in" id="viewing-faqs">
    <div class="content">
        <h2>Viewing FAQs</h2>

        <dl>
            <dt>How do I view the wedding?</dt>
            <dd>
                <p>No app download or login needed! Just come back here on our wedding day and once the ceremony starts, the
                    video will automatically play.</p>
            </dd>
            <dt>What should I wear?</dt>
            <dd>
                <p>The video steam will be one-way, which means while you will be able to see us, no one will be able to see
                    you, so you can even watch us get married from your bed!</p>
            </dd>
            <dt>How do I pass along congratulations?</dt>
            <dd>
                <p>There will be a digital guestbook and live chat option available during the ceremony, so feel free to
                    drop a note for us to read after the ceremony!</p>
            </dd>
            <dt>How long do you expect the ceremony to take?</dt>
            <dd>
                <p>It should be about 30-45 minutes.</p>
            </dd>
            <dt>If I can't watch the wedding live, can I view it after the fact?</dt>
            <dd>
                <p>Yep! We'll have the video here for you to watch afterwards.</p>
            </dd>
        </dl>

    </div>
    <div class="image">
        <img src="images/costa_rica_crop.jpg" alt="" />
    </div>
</section>